<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270123971681-ugd031gv3q34iuq3am6dfdaaaied6nbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270123971681-ugd031gv3q34iuq3am6dfdaaaied6nbf</string>
	<key>API_KEY</key>
	<string>AIzaSyCgtD1HLGCTC9HkY0SmdFvzbRseBOaY7No</string>
	<key>GCM_SENDER_ID</key>
	<string>270123971681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graduation</string>
	<key>PROJECT_ID</key>
	<string>graduation-c6bf3</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-c6bf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270123971681:ios:0beeef1c1c255c0709a620</string>
</dict>
</plist>